---
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import WeekDetails from "./WeekDetails.astro";
const { week, balance, thisMonth, result } = Astro.props;
---

<main>
  <Header balance={balance} />
  <div class="content">
    <WeekDetails week={week} />
    <Footer thisMonth={thisMonth} result={result} />
  </div>
</main>

<style lang="scss">
  main {
    display: flex;
    flex-direction: column;
    width: 330px;
    .content {
      padding: var(--content-padding);
      background: var(--very-pale-orange);
      border-radius: var(--content-radius);
      margin-top: var(--content-padding);
    }
  }
</style>
