---
import type { Day } from "./models";
import Tooltips from "@julian_cataldo/astro-tooltips/Tooltips.astro";
const { week, totalMonth } = Astro.props;
const columnHeight = 130;
let maxValue = [...week].sort((first: Day, second: Day) => {
  if (first.amount < second.amount) {
    return 1;
  }
  if (first.amount > second.amount) {
    return -1;
  }
  return 0;
})[0];

const totalWeek = [...week].reduce((acc, cur) => Number(acc + cur.amount), [0]);
const getColumnHeight = (amount: number) => {
  const hPercentaje = (amount * columnHeight) / totalWeek;
  return Math.floor((hPercentaje * columnHeight) / 100);
};
---

<div class="wrapper">
  <h3>Spending - Last 7 days</h3>
  <div class="week" style={{ height: `${columnHeight}px` }}>
    {
      week.map(({ day, amount }: Day) => (
        <div class:list={["day", { maxBar: amount === maxValue.amount }]}>
          <div
            class="bar"
            style={{ height: `${getColumnHeight(amount)}px` }}
            title={`$${amount}`}
            data-tooltip-placement="top"
          />
          <div class="day_name">{day}</div>
        </div>
      ))
    }
  </div>
</div>

<style lang="scss">
  .wrapper {
    --border-radiux: 3px;
    h3 {
      margin: 0;
      padding: 0;
      color: var(--dark-brown);
    }
    .week {
      display: flex;
      flex-direction: row;
      align-items: end;
      justify-content: space-between;
      border-bottom: 1px solid var(--medium-brown);
      padding: 24px 0;
      height: 180px;
      .day {
        width: 32px;
        font-size: 0.6em;
        color: var(--medium-brown);
        text-align: center;
        .bar {
          background: var(--soft-red);
          border-radius: var(--border-radiux);
          cursor: pointer;
          margin-bottom: 7px;
        }
        &.maxBar {
          .bar {
            background: var(--cyan);
          }
        }
      }
    }
  }
</style>
